
.mission {
    font-family: cursive;
    margin: 8px;
    cursor: pointer;
}

.mission-title {
    font-size: 18px;
    margin-bottom: 8px;
}

.mission-description {
    padding: 8px;
    color: rgb(68, 68, 68);
}

.done {
    background-color: #86f11c;
}

.waiting {
    background-color: #f12929;
}

.working {
    background-color: #e6e606c2;
}

.mission-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.arrow-invisible {
    display: none;
}

.arrow {
    font-size: 16px;
}